{% extends "base.html" %}

{% block content %}
<h2 class="my-4">Add new crypto purchase (buy/sell)</h2>
<form id="add-crypto-form" class="text-body-emphasis p-2" method="POST" action="/api/wallet/add">
  <div class="row mb-3">
    <label for="inputBuySell" class="col-sm-2 col-form-label form-label">Buy/Sell</label>
    <div class="col-sm-10">
      <select id="inputBuySell" name="buyOrSell" class="form-select" aria-label="Select kind of trade">
        <option value="buy" selected>Buy</option>
        <option value="sell">Sell</option>
      </select>
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputCryptoAlias" class="col-sm-2 col-form-label">Crypto Alias</label>
    <div class="col-sm-10">
      <input type="text" name="cryptoAlias" class="form-control" id="inputCryptoAlias" aria-describedby="cryptoAliasHelp" required>
      <div id="cryptoAliaslHelp" class="form-text">Please check the Alias of the crypto on <a href="https://www.coingecko.com/de/munze/pepe">coingecko.com</a>.</div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputCryptoName" class="col-sm-2 col-form-label form-label">Crypto Name</label>
    <div class="col-sm-10">
      <input type="text" name="cryptoName" class="form-control" id="inputCryptoName" required>
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputCryptoBroker" class="col-sm-2 col-form-label form-label">Broker</label>
    <div class="col-sm-10">
      <select id="inputCryptoBroker" name="cryptoBroker" class="form-select" aria-label="Select Broker">
        <option value="Binance" selected>Binance</option>
        <option value="Bitvavo">Bitvavo</option>
        <option value="Bitpanda">Bitpanda</option>
        <option value="Bitget">Bitget</option>
      </select>
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputCryptoPurchaseDate" class="col-sm-2 col-form-label form-label">Purchase Date</label>
    <div class="col-sm-10">
      <input type="date" name="cryptoPurchaseDate" class="form-control" id="inputCryptoPurchaseDate" required>
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputCryptoPurchasePrice" class="col-sm-2 col-form-label form-label">Price per Crypto in €</label>
    <div class="col-sm-10">
      <input type="text" name="cryptoPurchasePrice" class="form-control" id="inputCryptoPurchasePrice" required>
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputCryptoAmount" class="col-sm-2 col-form-label form-label">Crypto Amount</label>
    <div class="col-sm-10">
      <input type="number" step="0.001" name="cryptoAmount" class="form-control" id="inputCryptoAmount" required>
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputCryptoTotalPrice" class="col-sm-2 col-form-label form-label">Total Price in €</label>
    <div class="col-sm-10">
      <input type="number" step="0.001" name="cryptoTotalPrice" class="form-control" id="inputCryptoTotalPrice"  aria-describedby="cryptoTotalPriceHelp" required>
      <div id="cryptoTotalPriceHelp" class="form-text">Total price means "total price per trade + fee".</div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-10 offset-sm-2">
      <div class="form-check">
        <input name="cryptoMeme" class="form-check-input" type="checkbox" id="inputCryptoMeme">
        <label class="form-check-label" for="inputCryptoMeme">
          Meme Coin
        </label>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-dark">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save2" viewBox="0 0 16 16">
      <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v4.5h2a.5.5 0 0 1 .354.854l-2.5 2.5a.5.5 0 0 1-.708 0l-2.5-2.5A.5.5 0 0 1 5.5 6.5h2V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1z"/>
    </svg>
    Add Purchase
  </button>
  <a class="btn btn-outline-danger" href="/page/cryptos/summary">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clipboard-x" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M6.146 7.146a.5.5 0 0 1 .708 0L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 0 1 0-.708"/>
      <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
      <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
    </svg>
    Cancel
  </a>
</form>
{% endblock %}
