{% extends "base.html" %}

{% block content %}
<h2 class="mt-4">Wallet - Balance</h2>
<div class="row">
    <div class="col">
        <p id="summary" class="badge text-bg-success text-wrap fs-5"></p>
    </div>
</div>
<div class="row">
  <div class="table-responsive">
    <table id="cryptoBalanceTable" class="table table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">Crypto</th>
          <th scope="col">Amount</th>
          <th scope="col">Market Price (€)</th>
          <th scope="col">Your Balance (€)</th>
        </tr>
      </thead>
      <tbody>
        <!-- Data will be inserted here -->
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/wallet/balance.js') }}"></script>
{% endblock %}
