{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-8">
      <h4 class="mt-4">Last 20 Trades</h2>
      <div class="table-responsive">
          <table id="cryptoDashBoardTable" class="table table-dark table-hover">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Crypto</th>
                  <th scope="col">Gain/Loss (€)</th>
                  <th scope="col">Purchase Price (€)</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Total Purchase Price (€)</th>
                  <th scope="col">Total Current Price (€)</th>
                  <th scope="col">Purchase Date</th>
                  <th scope="col">Broker</th>
                </tr>
              </thead>
              <tbody>
                <!-- Data will be inserted here -->
              </tbody>
          </table>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
          <h4 class="mt-4">Balance</h2>
          <div class="table-responsive">
              <table id="cryptoBalanceTable" class="table table-dark table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Crypto</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Market Price (€)</th>
                      <th scope="col">Balance (€)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Data will be inserted here -->
                  </tbody>
              </table>
          </div>
          <hr>
          <h4 class="mt-2">Last 10 Deposit</h2>
          <div class="table-responsive">
              <table id="cryptoDepositTable" class="table table-dark table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Amount (€)</th>
                      <th scope="col">Broker</th>
                      <th scope="col">Payment Method</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Data will be inserted here -->
                  </tbody>
              </table>
          </div>
      </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/wallet/balance.js') }}"></script>
<script src="{{ url_for('static', filename='js/deposit/summary.js') }}"></script>
{% endblock %}