<h2 class="mt-4">Purchased Cryptos</h2>
<div class="table-responsive">
  <table id="cryptoTable" class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Crypto</th>
        <th scope="col">Gain/Loss (€)</th>
        <th scope="col">Current Price (€)</th>
        <th scope="col">Purchase Price (€)</th>
        <th scope="col">Amount</th>
        <th scope="col">Total Purchase Price (€)</th>
        <th scope="col">Total Current Price (€)</th>
        <th scope="col">Purchase Date</th>
        <th scope="col">Broker</th>
      </tr>
    </thead>
    <tbody>
      <!-- Data will be inserted here -->
    </tbody>
  </table>
</div>